<div class="container-forms">
    <div class="container-info">
        <div class="info-item">
            <div class="table">
                <div class="table-cell">
                    <p>Have an account?</p>
                    <div class="btn">
                        <a href="/Auth/SignIn">Log in</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-item">
            <div class="table">
                <div class="table-cell">
                    <p>Don't have an account?</p>
                    <div class="btn">
                        <a href="/Auth/SignUp">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
